$--color-primary: #409eff !default;
$--color-success: #67c23a !default;
$--color-warning: #e6a23c !default;
$--color-header: #ed1c24 !default;
$--color-text: #67686a !default;
$--color-coll: #eeeeee !default;
$--color-white: #fff !default;
$--color-info: #111010 !default;
$--color-row: #e2e1e1 !default;
$--color-body: #f2f2f2 !default;
$--color-accent: #fddc2f;
$--color-black: #000;
$--color-burger: #5b5b5b !default;;
$--color-grey: #909399;
